In [12]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_excel('2014_2019_Philadelphia_campaign_contributions.xlsx')
df.describe()

,Amount,BuildingRealEstateFlag,CharterPrivateSchoolFlag,FoodBeverageTobaccoFlag,LawFlag,CorporateFlag,LobbyingFlag
count,41140.000000,7983.0,399.0,1252.0,5263.0,609.0,619.0
mean,797.867825,1.0,1.0,1.0,1.0,1.0,1.0
std,3358.977329,0.0,0.0,0.0,0.0,0.0,0.0
min,0.000000,1.0,1.0,1.0,1.0,1.0,1.0
25%,100.000000,1.0,1.0,1.0,1.0,1.0,1.0
50%,250.000000,1.0,1.0,1.0,1.0,1.0,1.0
75%,1000.000000,1.0,1.0,1.0,1.0,1.0,1.0
max,400000.000000,1.0,1.0,1.0,1.0,1.0,1.0

In [6]:
df.head()

,Donor Name Original,Donor Name Cleaned,Contribution To,Amount,Date,Sector (grouped),Sector (more detailed),BuildingRealEstateFlag,CharterPrivateSchoolFlag,FoodBeverageTobaccoFlag,LawFlag,CorporateFlag,LobbyingFlag,Employer,Occupation,In-Kind?,StateLevelRace
0,Steven Clark,Steven Clark,Al Taubenberger,250.0,2019-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Not State-Level
1,1 RFP Limited Partnership,1 RFP Limited Partnership,Anthony Hardy Williams,2500.0,2014-09-29,Unknown,Unknown or Undetermined,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Not State-Level
2,1014 INVESTORS LP,1014 INVESTORS LP,Cherelle Parker,500.0,2014-10-31,Unknown,Unknown or Undetermined,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Not State-Level
3,1199c,District 1199C PAC,Isaiah Thomas,700.0,2014-04-23,Unions,Union,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Not State-Level
4,1199c,District 1199C PAC,Isaiah Thomas,500.0,2014-08-07,Unions,Union,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Not State-Level